.analysis-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > div {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px;
        text-align: right;
        border-radius: 5px;
        box-shadow: 0 0 10px 1px #c5c4c4;
        > a {
            > div {
                display: flex;
                flex-direction: column;
                :first-child {
                    font-weight: bold;
                }
            }
        }
    }
    span {
        margin-right: 10px;
        font-size: 18px;
        font-family: $iran-sans;
    }
    span, i {
        color: #ffffff;
        transition: 0.3s;
    }
    a.item-link:hover {
        span, i {
            color: #181818;
        }
    }
    div.projects {
        // background-color: #203A43;
        background-color: #3A6073;
    }
    div.finished-tasks {
        background-color: #b92b27;
    }
    div.finished-demands {
        background-color: #4e54c8;
    }
    div.delayed-tasks {
        background-color: #fdbb2d;
    }
    div.current-tasks {
        background-color: #45a247;
    }
    div.current-demands {
        background-color: #f46b45;
    }
}

div.dashboard-tab-container {
    margin-top: 30px;
    .tab-title-bar {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        a.tab-link {
            direction: rtl;
            font-size: 18px;
            font-family: $iran-sans;
            cursor: pointer;
            transition: 0.2s;
            color: #009FFF;
            i {
                margin-left: 5px;
                font-size: 18px;
            }
        }
        a.tab-link:hover {
            color: #ec2F4B;
        }
        a.tab-link.active {
            border-bottom: 2px solid #ec2F4B;
            color: #ec2F4B;
        }
    }
    div.result-container {
        display: none;
        // background-color: #E0EAFC;
        // box-shadow: 4px 4px 6px 0 #bdc3c7;
        img.workspace-img {
            width: 30px;
            height: 30px;
        }
        div.filter-box {
            float: right;
            background-color: #E0EAFC;
            box-shadow: 3px 3px 7px 0 #bdc3c7;
            border: 2px solid #A7BFE8;
            border-radius: 8px;         
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;   
            direction: rtl;
            div.filter-option {
                direction: rtl;
                text-align: right;
                font-family: $iran-sans;
                width: max-content !important;
                display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    text-align: center;
                }
                select {
                    option {
                        text-align: right;
                        font-family: $iran-sans;
                    }
                }
            }
        }
    }
    div.result-container.active {
        display: block;
    }
}
table {
    font-family: $iran-sans;
}
.select2-container {
    float: left !important;
    width: max-content !important;
    height: 100% !important;
    margin-right: 4px !important;
    div.select-option {
        i {
            margin-left: 10px;
            font-size: 20px;
        }
    }
    span.select2-selection__rendered {
        padding-right: 8px !important;
        padding-left: 20px !important;
    }
    span.select2-selection__arrow {
        left: 0 !important;
    }
    .select2-dropdown {
        width: max-content !important;
        font-family: $iran-sans;
    }
}