@import 'dashboard';

body,html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    // direction: rtl;
}
h1, h2, h3, h4, h5, h6 {
    direction: rtl;
    font-family: $iran-sans;
}
a {
    text-decoration: none;
    font-family: $iran-sans;
}
p {
    font-family: $iran-sans;
}
.full-sc {
    height: 100%;
}
.h-12 {
    height: 100%;
    float: left;
}
#right-menu {
	overflow-x: hidden;
    overflow-y: auto;
    background: $oil;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    transition: 0.5s;
    .top-section {
        font-family: #{$nunito};
        font-weight: bold;
        font-size: 25px;
        padding: 10px 2px;
        .logo-top {
            width: 50%;
            margin-left: 25%;
            height: auto;
            float: left;
        }
    }
}
.collapsed {
    transition: 2s;
    right: -100% !important;
}
.vertical-centerlize {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#mainpage {
    background: $silver;
    padding: 0px;
    overflow-y: hidden;
    transition: 0.5s;
    float: left;
    .navbar-top {
        background: $white;
        height: 71px;
        // padding: 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.contentbar {
    overflow-y: auto;
    height: 100%;
}
nav {
    a:hover {
        text-decoration: none;
    }
    .horizental-menu {
        float: left;
        list-style: none;
        padding: 0px;
        li {
            margin: 5px 0px;
            padding: 0px;
            width: 100%;
            height: 50px;
            min-height: 50px;
            overflow: hidden;
            text-align: right;
            background: #{$trs};
            display: block;
            transition: 0.3s;
            > p {
                margin: 0px;
            }
            p , a {
                padding: 15px 15px;
                width: 100%;
                height: 100%;
                float: right;
                color: $silver;
                font-family: $iran-sans;
                font-size: 15px;
                transition: 0.3s;
                i {
                    margin-left: 7px;
                }
                i.opener {
                    float: left;
                    transition: 0.3s;
                    margin-right: 7px;
                }
                i.opened {
                    transform: rotate(-90deg);
                    transition: 0.3s;
                }
            }
            :hover {
                cursor: pointer;
                background: $darkOil;
                transition: 0.3s;
            }
            > ul {
                display: none;
                transition: 0.3s;
                float: left;
                width: 100%;
                height: 0px;
                padding: 0px;
                margin: 0px;
            }
        }
        li.active {
            height: auto;
            background: $darkOil;
            ul {
                transition: 0.3s;
                display: block;
                height: auto;
                li {
                    :hover {
                        background: $oil;
                    }
                    p , a{
                        font-size: 16px;
                        padding-left: 20px;
                    }
                }
            }
        }
        li.has_sub {
            > p {
                a {
                    width: fit-content;
                    float: right;
                    padding: 0px;
                }
            }
        }
        li:hover {
            > p, > a {
                padding-left: 20px;
                transition: 0.3s;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.5);
}
div.admin-info-container {
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        border: 3px solid #24394d;
        transition: 0.4s;
        overflow: hidden;
        padding: 1px;
    }
    img:hover {
        transform: scale(1.1);
    }
    p.admin-email-link {
        font-family: $iran-sans;
        color: #24394d;
        font-size: 12px;
        position: relative;
        top: 8px;
    }
}

div.drop-down-container {
    bottom: 8px;
    button {
        font-family: $iran-sans;
        i {
            color: #24394d;
        }
    }
    button:hover {
        border: 1px solid #24394d;
    }
    div.dropdown-menu {
        i, a {
            color: #24394d;
        }
    }
}
.badge-warning {
    background-color: #f3c609 !important;
}
.badge-success {
    background-color: #0b9e3c !important;
}

div.workspace-sub-info {
    > span {
        direction: rtl;
        font-family: $iran-sans;
    }
    span.number {
        font-weight: bold;
    }
}

div.user-info-workspace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: min-content;
    > img {
        width: 50px;
        height: 50px;
        border-radius: 4px;
    }
    a {
        text-align: center;
    }
}

div.name-row-user-workspace {
    width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    span {
        margin-top: 4px;
    }
}

@media (min-width: 567px) {
    div.name-row-user-workspace {
        flex-direction: row;
        width: max-content;
    }
}

div.workspace-sub-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

@media (min-width: 768px) {
    div.workspace-sub-info {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    div.user-info-workspace {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: max-content;
    }
    div.name-row-user-workspace {
        align-items: flex-start;
    }
}

div.workspace-title-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: baseline;
    > i {
        margin-left: 6px;
        font-size: 20px;
        color: #2c3e50;
    }
    h4 {
        color: #2c3e50;
    }
}